@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	transition: all 0.4s ease;

}

body {
	background-repeat: no-repeat;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.navbar ul {
	display: flex;
	gap: 3rem;
	list-style: none;
	text-decoration: none;
}

.navbar ul li a {
	color: gray;
	text-transform: capitalize;
	position: relative;
	position: relative;
	text-decoration: none;
	font-size: 18px;
	padding-bottom: 5px;
	transition: color 0.3s ease;
}

/* nav effect */
.navbar a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: rgb(0, 0, 0);
	transition: width 0.3s ease;
}

.navbar a:hover::after {
	width: 100%;
}

a {
	text-decoration: none;
}

.logo {
	align-items: center;
	margin-left: -70px;
	align-items: center;
	margin-bottom: -30px;
}

.navbar_login_box button {
	background-color: #f44544;
	border: 1px solid #f44544;
	color: #fff;
	padding: 16px 25px;
	border-radius: 6px;
	text-transform: capitalize;
	transition: all 0.4s;

}

.navbar_login_box button:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 30px #f44444ad;
	backdrop-filter: blur(30px);
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
}

.navbar_login_box button:active {
	transform: translateY(4px);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.navbar_login_box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

}

.navbar_menu {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navbar_menu li {
	position: relative;
}

.download_hover a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

/* Yashirincha button */
.download_button_box {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 6px;
	padding: 5px 20px;
}

/* Hover bo‘lsa button chiqadi */
.download_hover:hover .download_button_box {
	display: block;
	margin-left: 14px;
}

/* Button stili */
.download_btn {
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
	background-color: greenyellow;
	padding: 10px 22px;
}

.download_btn:hover {
	border-top-right-radius: 19px;
	border-bottom-left-radius: 14px;
	box-shadow: 0px 0px 20px greenyellow;
	backdrop-filter: blur(10px);
	transform: translateY(-4px);
}

.download_btn:active {
	transform: translateY(4px);
	border-top-right-radius: 19px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 30px greenyellow;
}

.hero {
	width: 100%;
	padding: 50px 5%;
	box-sizing: border-box;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: 0 auto;
}

.hero-text {
	flex: 1 1 500px;
	max-width: 600px;
	margin-left: 3rem;
	margin-top: -10rem;
}

.hero-text h1 {
	font-size: 48px;
	font-weight: bold;
}

.hero-text h1 span {
	color: #2dd59c;
}

.hero-text p {
	margin: 20px 0;
	font-size: 22px;
	color: #444;
	margin-bottom: 1rem;
}

.email-box {
	display: flex;
	margin-top: 20px;
}

.email-box form input {
	flex: 1;
	padding: 15px;
	border: none;
	border-radius: 8px 0 0 8px;
	font-size: 16px;
	outline: none;
}

.email-box button {
	padding: 15px 25px;
	background-color: #f14a4a;
	border: none;
	color: white;
	border-radius: 0 8px 8px 0;
	font-size: 16px;
	cursor: pointer;
}

.store-links img {
	height: 30px;
	margin-right: 10px;
	margin-top: 20px;
}

.hero-img {
	flex: 1 1 400px;
	text-align: center;
}

.hero-img img {
	max-width: 100%;
	margin-top: -4rem;
	height: auto;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.273)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.339));
}

/* End */
/* logos */
.logos {
	background-color: #f4fbfa;
	padding-block: 3.5rem;
}

.logos div {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}

.logos img {
	width: 130px;
	height: 50px;
}

/* End */
/* A complete section */
/* Start */
.card_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
}

.crad_box {
	display: flex;
	gap: 2rem;
}

.card {
	margin-top: 5rem;
	width: 220px;
	padding: 20px;
	background: white;
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s ease;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.card:hover {
	transform: translateY(-5px);
}

.icon-box {
	width: 50px;
	height: 50px;
	background: #ff6f61;
	box-shadow: 0px 0px 15px #ff6f61;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 0 auto 16px;
}

.icon-box i {
	color: white;
	font-size: 24px;
}

.card h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}

.card p {
	margin-top: 10px;
	color: #555;
	font-size: 14px;
	line-height: 1.4;
}

.icon-box1 {
	width: 50px;
	height: 50px;
	background: #60e4ba;
	box-shadow: 0px 0px 15px #2dd59c;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 0 auto 16px;
}

.icon-box3 {
	width: 50px;
	height: 50px;
	background: #fbcb4b;
	box-shadow: 0px 0px 15px #fbcb4b;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 0 auto 16px;
}

.icon-box4 {
	width: 50px;
	height: 50px;
	background: #f46fe6;
	box-shadow: 0px 0px 15px #f46fe6;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 0 auto 16px;
}

.icon-box1 i {
	color: white;
	font-size: 24px;
}

.icon-box3 i {
	color: white;
	font-size: 24px;
}

.icon-box4 i {
	color: white;
	font-size: 24px;
}

.a_complete h1 {
	font-size: 40px;
	font-weight: 600;
	width: 70%;
	letter-spacing: 2px;
	line-height: 48px;
}

.a_complete p {
	font-size: 19px;
	margin-top: 1.5rem;
	width: 70%;
	line-height: 1.6;
}

.a_complete button {
	margin-top: 2rem;
	padding: 14px 22px;
	border-radius: 6px;
	background-color: #111;
	color: #fff;
	margin-right: 1rem;
}

.a_complete a {
	color: #f14a4a;
	font-weight: 700;
}

/* End */
/* discover section */
/* Start */
.discover_box_parent {
	display: flex;
	margin-top: 8rem;
}

.discover_box_parent h1 {
	font-size: 45px;
	letter-spacing: 2.4px;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.discover_box_parent p {
	font-size: 18.6px;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.check_box {
	display: flex;
	align-items: center;
	gap: 7px;
	line-height: 3;
}

.check_box h4 {
	margin-bottom: -17px;
	font-weight: 500;
}

.discover_box_parent .Discover_img {
	margin-top: -5rem;
	width: 100%;
}

/* End */
/* serving section */
/* Start */
.serving_box_parent {
	display: flex;
	justify-content: space-between;
}

.serving_box_parent img {
	margin-left: -9rem;
	margin-top: -4rem;
}

.serving_text_box h1 {
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 2rem;
}

.serving_text_box p {
	font-size: 22px;
	line-height: 1.6;
	margin-bottom: 1.5rem;
}
/* End */